<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-9 col-lg-6 col-xl-5 offset-xl-1">
            <h1 class="mt-5 mb-4" >Sign In</h1>
            <form method="POST">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="Email" name="email" class="form-control" required/>
                <label class="form-label" for="Email">Email address</label>
              </div>
                          
              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="Pass" name="pass" class="form-control" required minlength="8"/>
                <label class="form-label" for="Pass">Password</label>
              </div>
                          
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign In</button>
                          
              <!-- Login buttons -->
              <div class="text-center">
                <p>Not a member? Sign Up as a <a href="{{ url_for('register_sponsor') }}">Sponsor</a> or an <a href="{{ url_for('register_influencer') }}">Influencer</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

